*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(247, 243, 239);
    font-family: "Open Sans", sans-serif;
}

.nav{
    position: absolute;
}

#loome{
    margin-left: 100px;
    font-size: 50px;
    margin-top: 50px;
}

#home{
    margin-left: 400px;
    margin-top: 80px;
}


#shop{
    margin-left: 550px;
    margin-top: 80px;
}

#collection{
    margin-left: 700px;
    margin-top: 80px;
}

#about{
    margin-left: 850px;
    margin-top: 80px;
}

#contact{
    margin-left: 1000px;
    margin-top: 80px;
}

#bag{
    margin-left: 1300px;
    margin-top: 80px;
}


#line_logo{
    margin-left: 1380px;
    margin-top: 80px;
    padding-top: 3px;
}

#new_collection{
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;
}

#cotton{
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
    font-size: 100px;
}

#underline{
    position: absolute;
    margin-top: 455px;
    margin-left: 110px;
}

#organic{
    position: absolute;
    margin-top: 500px;
    margin-left: 110px;
}

#para{
    position: absolute;
    margin-top: 600px;
    margin-left: 110px;
}

#green, #grey, #pink{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    margin-top: 600px;
    margin-left: 170px;
}

#green{
    background-color: rgb(4, 85, 4);
}

#grey{
    background-color: rgb(144, 155, 155);
    margin-left: 210px;
}

#pink{
    background-color: pink;
    margin-left: 250px;
}

#details{
    position: absolute;
    margin-top: 700px;
    margin-left: 110px;
}

#detail{
    font-size: 20px;
}

#a{
    position: absolute;
    height: 120px;
    width: 150px;
    margin-top: 900px;
    margin-left: 60px;
    text-align: center;
}

#b{
    position: absolute;
    height: 120px;
    width: 150px;
    margin-top: 900px;
    margin-left: 220px;
    border-left: 1px solid rgb(214, 201, 189) ;
    border-right: 1px solid rgb(214, 201, 189);
    text-align: center;
} 

#c{
    position: absolute;
    height: 120px;
    width: 150px;
    margin-top: 900px;
    margin-left: 380px;
    text-align: center;
    
}

#a_logo{
    margin-left: 40px;
    font-size: 50px;
    text-align: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgba(220, 220, 220, 0.927);
}

#hero_pic{
    position: absolute;
    height: 99%;
    width: 40%;
    /* background-color: yellowgreen; */
    margin-top: 160px;
    margin-left: 600px;
    background-image: url('/Project_IMG.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#price{
    background-color: white;
    text-align: center;
    height: 30px;
    width: 50px;
    margin: 15px;
    padding-top: 2.5px;
    border-radius: 30px;
}

#rating{
    position: absolute;
    background-color: white;
    text-align: center;
    padding-top: 2.5px;
    height: 30px;
    width: 150px;
    margin: 15px;
    border-radius: 30px;
    margin-top: -45px;
    margin-left: 450px;
}

#add2bag{
    position: absolute;
    color: white;
    text-align: center;
    width: 110px;
    height: 110px;
    background-color: rgb(78, 98, 29);
    border-radius: 50%;
    padding-top: 30px;
    margin-top: 70%;
    margin-left: 85%;
}

#option{
    border: 2px solid rgb(167, 167, 167);
    position: absolute;
    height: 10%;
    width: 45%;
    margin-top: 60%;
    margin-left: 37%;
    border-radius: 10px;
    padding-top: 10px;
}

.option_logo{
    position: absolute;
    font-size: 35px;
}

.option_matter{
    position: absolute;
    margin-left: 50px;
}

#opt2{
    margin-left: 40%;
}

#opt3{
    margin-left: 78%;
}

.pic{
    position: absolute;
    margin-top: 160px;
    margin-left: 86%;
}

.pics{
    position: absolute;
    height: 140px;
    width: 120px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.pics:hover{
    border: 3px solid grey;
}

#pic1{
    background-image: url('/Project_IMG.jpg');
}

#pic2{
    background-image: url('/Project_img_2.jpg');
    margin-top: 180px;
}

#pic3{
    background-image: url('/Project_img_3.jpg');
    margin-top: 360px;
}

#pic4{
   background-image: url('/Project_img_4.jpg');
    margin-top: 540px; 
}

